<form class="form-horizontal">
	<fieldset>

		<!-- Form Name -->
		<h2 class="form-signin-heading">Student Enrollment</h2>

		<!-- Text input-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="firstName"></label>
			<div class="col-md-4">
				<input id="firstName" name="firstName" type="text"
					placeholder="First Name" class="form-control input-md" required="">

			</div>
		</div>

		<!-- Text input-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="lastName"></label>
			<div class="col-md-4">
				<input id="lastName" name="lastName" type="text"
					placeholder="Last Name" class="form-control input-md" required="">

			</div>
		</div>

		<!-- Text input-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="middleName"></label>
			<div class="col-md-4">
				<input id="middleName" name="middleName" type="text"
					placeholder="Middle Name" class="form-control input-md">

			</div>
		</div>

		<!-- Text input-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="fatherName"></label>
			<div class="col-md-4">
				<input id="fatherName" name="fatherName" type="text"
					placeholder="Father Name" class="form-control input-md" required="">

			</div>
		</div>

		<!-- Text input-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="motherName"></label>
			<div class="col-md-4">
				<input id="motherName" name="motherName" type="text"
					placeholder="Mother Name" class="form-control input-md">

			</div>
		</div>

		<!-- Text input-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="fatherPhoneNumber"></label>
			<div class="col-md-4">
				<input id="fatherPhoneNumber" name="fatherPhoneNumber" type="text"
					placeholder="Father Phone Number" class="form-control input-md">

			</div>
		</div>

		<!-- Text input-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="motherPhoneNumber"></label>
			<div class="col-md-4">
				<input id="motherPhoneNumber" name="motherPhoneNumber" type="text"
					placeholder="Mother Phone Number" class="form-control input-md">

			</div>
		</div>

		<!-- Text input-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="homeLandline"></label>
			<div class="col-md-4">
				<input id="homeLandline" name="homeLandline" type="text"
					placeholder="Home Landline" class="form-control input-md">

			</div>
		</div>

		<!-- Text input-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="officeLandLine"></label>
			<div class="col-md-4">
				<input id="officeLandLine" name="officeLandLine" type="text"
					placeholder="Office LandLine" class="form-control input-md">

			</div>
		</div>

		<!-- Text input-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="emergencyContact"></label>
			<div class="col-md-4">
				<input id="emergencyContact" name="emergencyContact" type="text"
					placeholder="Emergency Contact" class="form-control input-md"
					required="">

			</div>
		</div>

		<!-- Text input-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="emergencyContactName"></label>
			<div class="col-md-4">
				<input id="emergencyContactName" name="emergencyContactName"
					type="text" placeholder="Emergency Contact Name"
					class="form-control input-md" required="">

			</div>
		</div>
		<div class="form-group">
			<label class="col-md-4 control-label" for="program"></label>
			<div class="col-md-4">
				<select id="program" name="program" class="form-control">
					<option value="-1">Select Program</option>
					<option value="1">Play Group</option>
					<option value="2">Pre KG</option>
					<option value="3">LKG</option>
					<option value="4">UKG</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-4 control-label" for="accademicYear"></label>
			<div class="col-md-4">
				<select id="accademicYear" name="accademicYear" class="form-control">
					<option value="-1">Select Academic Year</option>
					<option value="1">2016-2017</option>
				</select>
			</div>
		</div>

		<div class="form-group">
			<label class="col-md-4 control-label" for="gender"></label>
			<div class="col-md-4">
				<select id="gender" name="gender" class="form-control">
					<option value="-1">Select Gender</option>
					<option value="Male">Male</option>
					<option value="Female">Female</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-4 control-label" for="fatherEmail"></label>
			<div class="col-md-4">
				<input id="fatherEmail" name="fatherEmail" type="text"
					placeholder="Father Email" class="form-control input-md">
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-4 control-label" for="motherEmail"></label>
			<div class="col-md-4">
				<input id="motherEmail" name="motherEmail" type="text"
					placeholder="Mother Email" class="form-control input-md">
			</div>
		</div>

		<div class="form-group">
			<label class="col-md-4 control-label" for="dayCare"></label>
			<div class="col-md-4">
				<label class="checkbox-inline" for="dayCare-0"> <input
					type="checkbox" name="dayCare" id="dayCare-0" value="1">
					Day Care
				</label>
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-4 control-label" for="food"></label>
			<div class="col-md-4">
				<label class="checkbox-inline" for="food-0"> <input
					type="checkbox" name="food" id="food-0" value="1"> Food
				</label>
			</div>
		</div>

		<div class="form-group">
			<label class="col-md-4 control-label" for="transport"></label>
			<div class="col-md-4">
				<label class="checkbox-inline" for="transport-0"> <input
					type="checkbox" name="transport" id="transport-0" value="1">
					Transport
				</label>
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-4 control-label" for="doj"></label>
			<div class="col-md-4">
				<label class="control-label" for="doj-0"> Date Of Join<input type="date"
					name="doj"> 
				</label>
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-4 control-label" for="doj"></label>
			<div class="col-md-4">
				<label class="control-label" for="doj-0">Date Of Birth <input type="date"
					name="doj"> 
				</label>
			</div>
		</div>
		<!-- Address will add later -->

		<div class="form-group">
				<label class="col-md-4 control-label" for="enroll"></label>
				<div class="col-md-4">
					<button id="enroll" name="enroll" class="btn btn-primary">Enroll</button>
				</div>
			</div>
	</fieldset>
</form>
