<form class="form-signin" ng-submit="deleteUser()" ng-controller="passwordResetCtrl">
		<h2 class="form-signin-heading">Delete User</h2>
		<label for="userName" class="sr-only">User Name</label> <input
			type="text" id="userName" ng-model="user.userName"
			class="form-control" placeholder="User Name" required autofocus>
		<div class="alert alert-danger">{{errorMsg}}</div>
		<div class="alert alert-success">{{sucessMsg}}</div>
		<button class="btn btn-lg btn-primary btn-block" type="submit">Delete User</button>
	</form>